---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import { formatDate } from '../../utils/formatDate';
const allPosts = await getCollection("posts");
const pageTitle = "Pauline Nemchak's posts";
---
<BaseLayout pageTitle={pageTitle}>
  <h1>List of posts:</h1>
  <ul>
    {allPosts.map((post) => (
      <li>
        <a href={`/posts/${post.slug}/`}>
          {post.data.title}
        </a>
        <p>{formatDate(post.data.pubDate)}</p>
      </li>))}
  </ul>
</BaseLayout>
