:root {
    --white: #fff;
    --purple: #2f2b45;
    --purple: #2f2b45;
    --purple-numb: #7b64f0;
    --purple-light: #c737ff;
    --yellow: #ffff00;
    --bright-pink: #ff29f8;
    --hightlight-color: #07faff;
}

::selection {
    background-color: var(--hightlight-color);
}
