---
import BaseLayout from '../layouts/BaseLayout.astro';
import Container from '../components/Container.astro';
import Capybara from '../components/Capybara.astro';
---

<BaseLayout pageTitle='Pauline Nemchak'>
    <h1>hello there 🇺🇦</h1>
    <p>I'm Pauline and I'm a frontend engineer. Here's a capybara, because reasons.</p>
    <Capybara />

    <p>This website is made with <a href='https://astro.build/' target='_blank' rel='noreferrer noopener'>astro</a>, but probably will be migrated to something else.</p>
</BaseLayout>
