---
---
<style>
    .nav {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .nav li {
        margin-right: 7px;
    }

    .nav li:last-child {
        margin-right: 0;
    }

    .nav a,
    .nav a:visited {
        color: var(--purple);
    }

    .nav a:hover {
        color: var(--purple-light);
    }
</style>

 <nav>
    <ul class='nav'>
        <li>
            <a href='/'>home</a>
        </li>
        <li>
            <a href='/posts'>posts</a>
        </li>
    </ul>
</nav>
