---
import BaseLayout from './BaseLayout.astro';
import TagList from '../components/TagList.astro';
const { frontmatter } = Astro.props;
const { tags } = frontmatter;
---
<BaseLayout pageTitle={frontmatter.title}>
    <article>
        <h1>{frontmatter.title}</h1>
        <p><em>{frontmatter.description}</em></p>
        <slot />
        <p>{frontmatter.pubDate.slice(0,10)}</p>
        <TagList tags={tags} />
    </article>
</BaseLayout>
